/* Productos section */
.contOfertas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}
.productosContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 30px;
}
.cardOfertas{
    margin: 10px 10px;
    width: 300px;
    height: 500px;
}
.buttonColumnCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.countCard{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.textCount{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 10px;
}