.contHomePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.appleTitulo{
    color: white;
    text-align: center;
    font-size: 8rem;
    margin-bottom: 70px;
    padding: 50px 10px;
}
.textAlingCenter{
    text-align: center;
}
.airpodscenter{
    width: 60%;
    height: 60%;
}
.homeBackBlack{
    background-color: black;
}
.homeBackWithe{
    background-color: white;
}
.contImgLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.imgLinks{
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}
.imglinksAirPods{
    width: 60%;
    height: 60%;
}
.imgLinks:hover{
    transform: scale(1.005);
    transition: 0.5s;
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}
